@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  @apply bg-white text-black rounded;
}

.btn {
  @apply bg-orange-600 text-white px-4 py-2 rounded hover:bg-red-800 cursor-pointer;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@media (max-width: 640px) {
  .btn {
    @apply w-full; 
  }
}
